*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: url("../images/backcover.svg");
  background-position: top 0 right 0;
  background-repeat: no-repeat;
  background-size: 45%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

nav [alt="logo"] {
  height: 40px;
}

.nav-items {
  display: flex;
  gap: 2em;
}

.nav-item {
  color: #3e4794;
  font-size: 1em;
  font-weight: 600;
}

.signin-btn {
  font-weight: 600;
  font-size: 1em;
  background: linear-gradient(90deg, #965cf2 0%, #ff8adc 100%);
  padding: 8px 16px;
  border: none;
  color: white;
  margin-right: 100px;
  border-radius: 25px;
}

.intro-section {
  height: 100vh;
  display: flex;
}

.left-section {
  margin: 40px 0 40px 80px;
  max-width: 400px;
}

.left-section h1 {
  color: #3f4894;
  font-size: 3.5em;
  font-weight: 900;
}

.left-section h4 {
  color: #3f4894;
  line-height: 1.5em;
  font-weight: 200;
  margin-top: 50px;
}

.learn-more-btn {
  display: block;
  font-weight: 600;
  font-size: 1.3em;
  background: linear-gradient(90deg, #965cf2 0%, #ff8adc 100%);
  padding: 0.5em 1em;
  border: none;
  color: white;
  margin: 50px 0;
  border-radius: 25px;
}

.imgs-div {
  position: absolute;
  top: -70px;
  right: 80px;
  transform: scale(0.65);
  z-index: -1;
}

.vector-img {
  position: absolute;
  top: 600px;
}

.vector-dot {
  position: absolute;
  top: 600px;
  left: 80px;
}