*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/backcover.svg);
  background-repeat: no-repeat;
  background-position: top 0px right 0px;
  height: 100vh;
  padding: 1rem;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.nav-item {
  font-size: 15px;
  padding: 10px 20px;
  font-weight: 600;
  color: #3e4794;
}
.logo {
  height: 40px;
}
.btn{
  background-image: linear-gradient(90deg, #965cf2, #ff8adc);
  border: none;
  cursor: pointer;
  color: white;
}
.sign-in-btn {
  padding: 15px 30px;
  border-radius: 25px;
}

.hero-section {
  display: flex;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin-top: 10%;
  padding: 1rem;
}

.btn-cta{
  padding: 20px 35px;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  font-size: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #3e4794;
}
.hero-content h4 {
  font-size: 20px;
  font-weight: 300;
  color: #3f4894;
}

.hero-img-wrapper{
  position: relative;
}

.vector-dot {
  position: absolute;
  bottom: 170px;
  left: 60px;
}
.vector-img {
  position: absolute;
  bottom: 60px;
  left: 0;
}
@media only screen and (max-width: 768px) {
  .sign-in-btn,
  .btn-cta{
    padding: 10px 20px;
  }

  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-img-wrapper > :nth-child(3) {
    width: 100%;
  }
  .nav-list {
    display: none;
  }
}